<div class="px-5 mx-5">
  <h2>会員一覧</h2>
  <div class="row mx-5 px-5">
    <table class="table border-bottom table-hover table-background">
      <thead class="thead-dark">
        <tr>
          <th>会員ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @customers.each do |customer| %>
          <tr onclick='window.location="<%= '/admin/customers/' + customer.id.to_s %>"' role="link">
            <td><%= customer.id %></td>
            <td>
              <%= customer.full_name %>
              
            </td>
            <td><%= customer.email %></td>
            <% if customer.is_deleted == true %>
              <td class="text-danger">退会</td>
            <% else %>
              <td class="text-success">有効</td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
