main {
  background-image:url('ka1'),url('ka2');
  background-repeat: no-repeat;
  background-size: 250px 900px;
  background-position: left,right;
  background-attachment: fixed;
  color: white;
  background-color:#666666;
  padding-bottom:30px;


}

.top {
  display: flex;
}

.top_message {
  padding: 20px;
}

.new {
  padding:20px;
}

.top-image img {
  float: right;
}

.new_item {
  display: flex;
}

.tag {
  width: 100%;
  margin-right:70px;
}

.huti1 {
  border: 3px solid black;
}

.huti2 {
  border: 3px solid #C1AB05;
}

.huti3 {
  border: 9px solid black;
}

.huti4 {
  border: 3px solid #C1AB05;
  padding: 12px;
  background-color: #fff;
}

.batman {
  width: 100%;
  display: flex;
  justify-content:center;
}

.bat {
  width: 150px;
  height: 80px;
  text-align:center;
  background-color: black;
  color: #fff;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
}



.image-box {
  height: 100px;
  width: 100px;
  color:black;
}


.hashira1 {
  text-align: left;
}

.hashira2 {
  text-align: right;
}

.footer {
  width: 100%;
  height: 200px;
  text-align: center;
  background-image: url('pole.png');
  background-repeat: repeat-x;
  background-size: 400px 200px;
}


.wrap {
			display: grid;
			grid-template-columns: 3fr 1fr;
		}
		.main_content {
			background: #e0efff;
		}
		.side {
			background: #e0ffe0;
		}
		.side_content {
			position: sticky;
			top: 50px;
			background: #ffe0ff;
		}


