

main {
  background-image:url('ka1'),url('syansyan4'),url('ka2');
  background-repeat: no-repeat;
  background-size: 250px 900px,250px 250px,250px 900px;
  background-position: left,top right,right;
  background-attachment: fixed;
  color: white;
  background-color:#666666;
  padding-bottom:30px;
}

.yield {
  width: 930px;
  padding: 50px;
  margin: 0 auto;
}

.top {
  display: flex;
}

.text-decoration-none {
  color: #FFFFFF;
}

.genre {
  display: flex;
  justify-content: center;
}

.top_message {
  padding: 20px;
}

.new {
  padding:20px;
}

.top-image img {
  float: right;
}

.new_item {
  display: flex;
}

.tag {
  margin-right:70px;
}

.huti1 {
  border: 3px solid black;
}

.huti2 {
  border: 3px solid #C1AB05;
}

.huti3 {
  border: 9px solid black;
}

.huti4 {
  border: 3px solid #C1AB05;
  padding: 12px;
  background-color: #fff;
}

.batman {
  width: 100%;
  display: flex;
  justify-content:center;
}

.bat {
  width: 150px;
  height: 80px;
  text-align:center;
  background-color: black;
  color: #fff;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
}

.bat-show {
  width: 475px;
  height: 200px;
  text-align:center;
  background-color: black;
  color: #fff;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
}


.image-box {
  height: 100px;
  width: 100px;
  color:black;
}


.hashira1 {
  text-align: left;
}

.hashira2 {
  text-align: right;
}

.footer {
  width: 100%;
  height: 200px;
  text-align: center;
  background-image: url('pole.png');
  background-repeat: repeat-x;
  background-size: 400px 200px;
}


.wrap {
			display: grid;
			grid-template-columns: 3fr 1fr;
		}
		.main_content {
			background: #e0efff;
		}
		.side {
			background: #e0ffe0;
		}
		.side_content {
			position: sticky;
			top: 50px;
			background: #ffe0ff;
		}


.fadeslide {
  display: flex;
  margin: auto;
	position: relative;
	width: 800px;
	height: 500px;
	overflow: hidden;
	z-index: 0;

}

.fadeslide div {
	position: absolute;
	top: 0;
	left: 0;
}

.fadeslide div:nth-of-type(1) {
	animation: fadeslide 30s 0s infinite both;
	z-index: 6;
}

.fadeslide div:nth-of-type(2) {
	animation: fadeslide 30s 5s infinite both;
	z-index: 5;
}

.fadeslide div:nth-of-type(3) {
	animation: fadeslide 30s 10s infinite both;
	z-index: 4;
}

.fadeslide div:nth-of-type(4) {
	animation: fadeslide 30s 15s infinite both;
	z-index: 3;
}

.fadeslide div:nth-of-type(5) {
	animation: fadeslide 30s 20s infinite both;
	z-index: 2;
}

.fadeslide div:nth-of-type(6) {
	animation: fadeslide 30s 25s infinite both;
	z-index: 1;
}

@keyframes fadeslide {
	0% { left: 0; opacity: 0; }
	5% { left: 0; opacity: 1; }
	20% { left: 0; opacity: 1; }
	25% { left: 0; opacity: 0; }
	26% { left: 100%; opacity: 0; }
	100% { left: 100%; opacity: 0; }
}
.aitekure{
  height:50px;
}
